
.nav{
    /* border: 2px solid slateblue; */
    display: flex;
 
 
    flex-wrap: wrap;

    justify-content: space-between;
}
.nav-items{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
     gap: 3rem;

}

.cart{
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    flex-direction: row;
    gap:1rem;
    /* margin: 1rem 0; */
}

#shopping-cart{
    font-size: 1.75rem;
    color: red;
}

#android{
    font-size: 1.75rem;
    color: red;
}

#navline{
    color: red;
}

 